<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calculadora de Factorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Número</ion-label>
    <ion-input type="number" [(ngModel)]="numero"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="calcularFactorial()">Calcular Factorial</ion-button>
  <ion-item *ngIf="resultado !== null">
    <ion-label>Resultado: {{ resultado }}</ion-label>
  </ion-item>
</ion-content>
